body {
    background-color: #F7F7F7;
}

#__next {
    min-height: 100vh;
    display: flex;
}

.content-wrap {
    display: flex;
    flex-direction: column;
    width: 100vw;
}

.content {
    display: flex;
    flex-grow: 1;
    padding-top: 50px;
    padding-bottom: 10px;
}

.custom-navbar {
    background-color: #ffffff !important;
    height: 88px;
    box-shadow: 0px 4px 20px lightgrey;
}

.custom-navbar-link {
    color: #0000ff !important;
    font-family: "Arquitecta W00 Medium" !important;
    font-size: 16px;
    font-style: normal;
}

.custom-navbar-link-lg {
    font-weight: bold !important;
    font-size: 24px !important;
    padding-top: 0 !important;
}

.underline-text {
    text-decoration: underline;
}

.custom-navbar-brand {
    color: #0000ff !important;
    font-stretch: expanded;
    font-size: xx-large;
    font-family: Montserrat-Regular !important;
}

.custom-navbar-brand > span {
    font-family: Montserrat-Bold !important;
}

.custom-navbar-button {
    font-size: 16px !important;
    border-radius: 25px !important;
    font-family: "Arquitecta W00 Medium" !important;
    font-style: normal;
    color: #0000ff !important;
    padding: 0 15px;
    height: 30px;
    margin: 3px 0 0 25px;
    border: 2px solid blue;
}

.custom-navbar-button:hover {
    background-color: transparent !important;
    border-color: transparent;
}

@font-face {
    font-family: "Arquitecta W00 Medium";
    src: url("../fonts/arquitecta/@font-face/3cc54a970dd63517556127a94597bdbb.eot"); /* IE9*/
    src: url("../fonts/arquitecta/@font-face/3cc54a970dd63517556127a94597bdbb.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */ url("../fonts/arquitecta/@font-face/3cc54a970dd63517556127a94597bdbb.woff2") format("woff2"), /* chrome、firefox */ url("../fonts/arquitecta/@font-face/3cc54a970dd63517556127a94597bdbb.woff") format("woff"), /* chrome、firefox */ url("../fonts/arquitecta/@font-face/3cc54a970dd63517556127a94597bdbb.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/ url("../fonts/arquitecta/@font-face/3cc54a970dd63517556127a94597bdbb.svg#Arquitecta W00 Medium") format("svg"); /* iOS 4.1- */
}

@font-face {
    font-family: "Montserrat-Bold";
    src: url("../fonts/montserrat/Montserrat-Bold/Montserrat-Bold.ttf") format("truetype");
}

@font-face {
    font-family: "Montserrat-Regular";
    src: url("../fonts/montserrat/Montserrat-Regular/Montserrat-Regular.ttf") format("truetype");
}

#footer {
    background-image: url(../icons/footer-bg-img.jpg);
    height: 270px;
    background-size: cover;
    display: flex;
    flex-direction: column;
    padding-top: 48px;
}

#footer > .navbar-text {
    padding: 0 !important;
    font-family: "Arquitecta W00 Medium" !important;
    font-size: 16px;
}

#footer a {
    color: #007bff;
!important;
}

.footer-separator {
    height: 15px;
}

.card-text {
    margin: 0 !important;
    font-family: "Arial Unicode MS";
    color: #AFAFAF;
    font-size: 13px;
}

.form-label {
    font-family: "Arial Unicode MS";
    color: #AFAFAF;
    font-size: 12px;
}

.custom-input {
    border: none;
    border-bottom: 1px solid #ced4da;
    border-radius: 0;
}

.custom-input:focus, .my-select:focus {
    border-bottom: 2px solid #ced4da;
    font-weight: 500;
    box-shadow: none;
}

.custom-card {
    box-shadow: 0px 0px 10px lightgrey !important;
    border-radius: .4rem;
}

.form-control {
    font-family: "Arial Unicode MS";
}

.my-form {
    display: flex;
    flex-flow: column;
}

#begin-btn {
    align-self: flex-end;
    font-family: "Arial Unicode MS";
    background-color: #E5E5E5;
    padding: 3px 32px;
    color: #AFAFAF;
    border-color: transparent
}

#begin-btn:focus {
    border-bottom: 2px solid #ced4da;
    font-weight: 500;
    box-shadow: none;
}


